#holder .customPost
{
    position: relative;
}

#holder .customPost .customPostContent
{
    white-space: pre-wrap;
}

#holder .customPost p
{
    width: 75%;
}

#holder .customPost img
{
    width: auto;
    height: 50px;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}